.card-border{
    border: 3px solid #0046EF;
    background-color: #101635;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: flex-start;
    max-height: 50vh;
}

.title-card{
    margin:2rem 0;
}

.li-card{
    margin: 0.5rem;
}
