.card-border{
    border: 3px solid #0046EF;
    background-color: #101635;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: space-evenly;
    max-height: 50vh;
}