

.label-smallHero{
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}


/* CSS */
.button-51 {
    background-color: #0a3d70;
    box-sizing: border-box;
    color: #e2e5e9;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-51:hover,
  .button-51:active {
    outline: 0;
   
  }
  
  .button-51:hover {
    background-color: transparent;
    cursor: pointer;
    background-color: #5785b3;
    transition: background-color 1s;
  }
  
 
  
 
  
  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }
  }