@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Tilt+Prism&display=swap");

.App {
  text-align: center;
  background-color: #1e1e27;
  font-family: "Francois One", sans-serif !important;
  /*   font-family: 'Tilt Prism', cursive; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-azul {
  width: 25%;
  border: 3px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 5px #0046ef;
  margin-bottom: 2rem;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 2s;
}
